.gradient-custom-3 {
  /* fallback for old browsers */
  background: #327bcf;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(104, 135, 236, 0.5),
    rgba(194, 15, 125, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(70, 110, 221, 0.5),
    rgba(143, 211, 244, 0.5)
  );
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(103, 185, 218),
    rgba(143, 211, 244, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgb(96, 133, 201),
    rgba(143, 211, 244, 1)
  );
}
.error-message {
  position: relative;
  bottom: 20px;
  left: 10px;
  top: -20px;
  color: red;
  padding-bottom: 10px;
}
